<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>You have recieved a messege from the site's contact form, from 
    <%= "#{ @name }, #{ @email }." %></p>
    <p><%= @body %></p>
  </body>
</html>